*{
  padding:0;
  margin:0;
}


.container{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.register{
  margin-top: 150px;
  font-size: 50px;
  
}

.register a{
 text-decoration: none;
 color: black;
 background-color: orange;
 padding: 20px;
}