

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Slabo 27px';
}

body{
  background-image: url('../img/pattern.jpg');
}

header{
  height: 60px;
  background-color: white;
  margin-bottom: 10px;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

header img{
  float: left;
}

nav{
  float:right;
}

nav ul li{
  display: inline-block;
  padding-right: 10px;
}

nav ul{
  margin-right: 10px;
  margin-top: 20px;
}


section{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding :20px;
}

section h1{
  text-align: center;
  padding:10px;
}

article{
  margin-top: 60px;
}

article h3{
  margin-bottom: 20px;
 
}

article a{
  text-decoration: none;
}

article p{
  margin-bottom: 20px;
}

footer{
  background-color: black;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

footer h5{
  color: white;
}